<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <form method="POST" , action="/new">
      <h1>Enter your message</h1>
      <input name="authorName" type="text" placeholder="Enter author name" />
      <input
        name="authorMessage"
        type="text"
        placeholder="Enter your message"
      />
      <input type="submit" />
    </form>
  </body>
</html>
